<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated invariants -->
      <package
            uri="http://www.mit.bme.hu/gamma/invariants/Model/Invariants"
            class="invariants.InvariantsPackage"
            genModel="model/invariants.genmodel"/>
   </extension>

</plugin>
